.averageticker{
    color: white;
    border: solid 0.2em;
    border-radius: 1em;
    border-color: orange;
    grid-area: averagetickervalue;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.buttonsarea{
    border: solid 0.2em;
    border-radius: 1em;
    border-color: orange;
    display: grid;
    overflow: auto;
    gap: 3px;
    grid-template-columns: 1fr 1fr 1fr;
}

.bitstamptradingvalue{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    grid-area: bitstamptradingvalue;
    overflow: auto;
}

.main--container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.2em;
    grid-template-areas: 
        "averagetickervalue buttonsarea"
        "averagetickervalue bitstamptradingvalue";
}

.GJnumberlabel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width:550px) {
    .main--container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            "averagetickervalue"
            "buttonsarea"
            "bitstamptradingvalue";
    }

    .buttonsarea{
        grid-template-columns: 1fr 1fr;
    }
    
}